<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th scope="col" colspan="4">
        <div class="d-flex">
          <span class="col-3">Tasks</span>
          <span class="col-3 offset-6 text-end">
            <%= check_box_tag '', nil, params[:show_closed_tasks] === "true",
                class: "form-check-input",
                onclick: "document.location.href=`/tasks?show_closed_tasks=${this.checked}`;"
            %>
            <label class="form-check-label" for="exampleCheck1">Show closed tasks</label>
          </span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.description %>
          <span class="<%= get_state_button_class(task) %> btn btn-sm text-white disabled">
            <%= t("task.state.#{task.state}") %>
          </span>
        </td>
        <td class="text-center">
          <span class="<%= task.is_important? ? 'btn-danger' : 'btn-secondary' %> btn btn-sm text-white">
            <%= t("task.is_important.#{task.is_important}") %>
          </span>

          <span class="<%= task.is_important? ? 'btn-warning' : 'btn-secondary' %> btn btn-sm text-white">
            <%= t("task.is_urgent.#{task.is_urgent}") %>
          </span>
        </td>
        <td>
          <%= state_change_button(task) %>
        </td>
        <td class="text-center">
          <%= link_to raw("<i class='bi bi-x-lg text-black'></i>"), task, method: :delete, data: { confirm: t("action_confirmation") } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'form', task: @task %>